In [1]:
#EXTRA ASSIGNMENT LEVEL 1 
#print statement
print("HOPE AI")

HOPE AI

In [2]:
#Buy input
n= (input("Enter your institute name? :"))

Enter your institute name? : HOPE AI

In [3]:
#Buy inputs
name = input("Enter your name:")
age = input("Enter your age:")
schoolName = input("Enter your school name:")
degree = input("Enter your degree:")

Enter your name: Raj
Enter your age: 15
Enter your school name: Guru school
Enter your degree: B.E CSE

In [5]:
#addition
a=int(input("a="))
b=int(input("b="))
add=a+b
print("add=",add)

a= 43
b= 34

add= 77

In [6]:
#subtraction
a=int(input("a="))
b=int(input("b="))
sub=a-b
print("sub=",sub)

a= 43
b= 34

sub= 9

In [7]:
#Multiplication
a=int(input("a="))
b=int(input("b="))
mul=a*b
print("mul=",mul)

a= 63
b= 97

mul= 6111

In [8]:
#Division
a=float(input("a="))
b=float(input("b="))
Div=a/b
print("Float Div=",Div)

a= 76
b= 31

Float Div= 2.4516129032258065

In [9]:
#floor division
a=int(input("a="))
b=int(input("b="))
div=a//b
print("Floor Div=",div)

a= 76
b= 31

Floor Div= 2

In [10]:
#modulo
a=int(input("a="))
b=int(input("b="))
mod=a%b
print("Modulo=",mod)

a= 76
b= 31

Modulo= 14

In [11]:
#power
a=int(input("a="))
b=int(input("b="))
pow=a**b
print("Power=",pow)

a= 4
b= 4

Power= 256

In [12]:
#EXTRA ASSIGNMENT LEVEL 2
#RANGE
range(0,20)
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [13]:
range(10,20)
for num in range(10,20):
    print(num,end = " ")

10 11 12 13 14 15 16 17 18 19

In [14]:
# Define a list
list = [10, 20, 14, 55, 43, 87, 76]
num = len(list)
print("Number of item in the list2:", num)

Number of item in the list2: 7

In [15]:
AI = "Artificial Intelligence"
for char in AI:
    print(char)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [16]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [17]:
#tuple
tuple=(1, 'Welcome', 2, 'Hope')
print(tuple)

(1, 'Welcome', 2, 'Hope')

In [18]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')
print(Tuple1,Tuple2)

(0, 1, 2, 3) ('python', 'HOPE')

In [19]:
numbers = [20, 10, 16, 19, 25, 1, 276, 188]

for num in numbers:
    if num % 2 == 0:
        print(f"{num} is even")

20 is even
10 is even
16 is even
276 is even
188 is even

In [20]:
numbers = [20, 10, 16, 19, 25, 1, 276, 188]

for num in numbers:
    if num % 2 == 1:
        print(f"{num} is odd")

19 is odd
25 is odd
1 is odd

In [21]:
#EXTRA ASSIGNMENT LEVEL 3
i =10
if(i==10):
    print(i)
    print("correct")

10
correct

In [22]:
Age=int(input("age="))
if(Age<=12):
    print("children")
elif(Age<=34):
    print("Adult")
elif(Age<=50):
    print("citizen")
else:
    print("senior citizen")

age= 20

Adult

In [24]:
number = int(input("Enter any number:"))
if(number>0):
    print("No is positive")
else:
    print("No is negative")

Enter any number: 1

No is positive

In [25]:
num = int(input("Enter a number to check:"))
if((num%5)==0):
    print("Divisible by 5")
else:
    print("No is not divisible by 5")

Enter a number to check: 22

No is not divisible by 5